body {
  background-color: #e9ece5;
}

.container {
  background-color: #c0dfd9;
}
.navbar-form {


}


input,
select,
textarea {
   min-width: 450px;
   margin-bottom: 1rem;
}

.card-img-top {
  max-height: 20%;
  max-width: 50%;
}

.card {
  text-align: center;
  min-height: 450px;
  border: solid 2px #3b3a36;
  padding: 2rem;
}


.clicked-card {

  border: solid 10px #3b3a36;
  background-color:
}
